extends layout

block content
  h1= title
  p Welcome to #{title}
  
  br
  hr

  div
    a(href="/calendar/events/init") Create DSM [Events]

  br

  div
    form(name="pull-calendar", method="get", action="/calendar/events/update")
        div.input
            span.label Calendar iCal URL
            input(type="text", name="ical")
        div.actions
            input(type="submit", value="Pull Calendar Data")