extends layout

block content
  h2 Success!
  p.plug-info The Data Plug has been set up to synchronise data between your Calendar and your personal HAT. Check Rumpel in 5 minutes to see the new data records appear.