extends layout

block content
  h2 HAT Data Plug for Calendars
  p.plug-info A tool giving you the power to synchronize various Calendar data with your personal HAT. Give it a try and see your events and meetings appear on RUMPEL.
  p.plug-info
    span Enter a URL to an online iCal file in the following screens and the data will be automatically synchronised with the HAT.

  .container
    a.plug-button(href="/dataplug") Start Here
    a.plug-button(href="http://www.hatdex.org") Learn more about your data